<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ptts.alfred-airpods-toggle</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>07B0E206-AC25-44BC-A433-1DEDBE30F15D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58743A62-B4E6-4BD9-8E1D-FB7507132E80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>147E66F6-E206-45E4-A436-37EEF0F1032B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56F18DA1-4EC7-4C36-B71B-DE999CFBBBE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0BAC045-50DA-4AD0-903E-122268B00FFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66F1FDA3-0872-4450-B7E8-457B09CEA690</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>285EAC53-D9E5-4711-BBEF-CD8E05A5EC2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9665985D-55BE-402F-AF38-9879660DDFA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EDD0B54-0971-4C5A-9BB5-70F3448FD0DA</key>
		<array/>
		<key>56F18DA1-4EC7-4C36-B71B-DE999CFBBBE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>285EAC53-D9E5-4711-BBEF-CD8E05A5EC2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58743A62-B4E6-4BD9-8E1D-FB7507132E80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>147E66F6-E206-45E4-A436-37EEF0F1032B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B1C54FA-428F-47F4-A9DB-C7E5DDB2FE89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66F1FDA3-0872-4450-B7E8-457B09CEA690</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EDD0B54-0971-4C5A-9BB5-70F3448FD0DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B1C54FA-428F-47F4-A9DB-C7E5DDB2FE89</key>
		<array/>
		<key>B45098DE-BF87-4845-AD2A-D57DB54F6E23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A83F0F0D-74A7-4CA5-BF62-5DFD80E75F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0BAC045-50DA-4AD0-903E-122268B00FFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B45098DE-BF87-4845-AD2A-D57DB54F6E23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ptts</string>
	<key>description</key>
	<string>Toggle AirPods connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AirPods Toggle</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Switched to AirPods Output</string>
				<key>title</key>
				<string>AirPods activated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>285EAC53-D9E5-4711-BBEF-CD8E05A5EC2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>9665985D-55BE-402F-AF38-9879660DDFA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>connect_success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>56F18DA1-4EC7-4C36-B71B-DE999CFBBBE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>airpods</string>
				<key>subtext</key>
				<string>Connect/Disconnect AirPods</string>
				<key>text</key>
				<string>AirPods</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07B0E206-AC25-44BC-A433-1DEDBE30F15D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# Manual update / maybe implement later
# if [ -n "$1" ] &amp;&amp; [ "$1" = "update" ]; then
#	&gt;&amp;1 echo "Update"
#	echo updating...
#	exit
#fi;

AIRPODS_MAC=""

# Check dependencies
command -v "/usr/local/bin/SwitchAudioSource" &gt;/dev/null 2&gt;&amp;1 || { echo &gt;&amp;2 "ERROR: Missing dependency. Please install SwitchAudioSources via 'brew install switchaudio-osx'. Aborting."; exit 1; }
command -v "/usr/local/bin/BluetoothConnector" &gt;/dev/null 2&gt;&amp;1 || { echo &gt;&amp;2 "ERROR: Missing dependency. Please install BluetoothConnector via 'brew install bluetoothconnector'. Aborting."; exit 1; }

if [ -z "$AIRPODS_MAC" ]; then
	echo "mac empty"
	exit
    AIRPODS_MAC=$("/usr/local/bin/python" "find_airpods.py" "--mac")
    AIRPODS_NAME=$("/usr/local/bin/python" "find_airpods.py" "--name")
else
    AIRPODS_NAME=$("/usr/local/bin/python" "find_airpods.py" "--findname" "$AIRPODS_MAC")
    if [ -z "$AIRPODS_NAME" ]; then
        echo "ERROR: Couldn't find device name for MAC address '$AIRPODS_MAC'"
        exit
    fi
fi

if [ -z "$AIRPODS_NAME" ] || [ -z "$AIRPODS_MAC" ] ; then
    echo "ERROR: Please check the documentation"
    exit
fi

switch () {
    /usr/local/bin/SwitchAudioSource -s "$AIRPODS_NAME" | grep 'output audio device set to' &amp;&gt; /dev/null
    if check; then
        /usr/bin/osascript -e 'set volume output volume 70'
    fi
}


connect () {
    /usr/local/bin/BluetoothConnector -c $AIRPODS_MAC &amp;&gt; /dev/null
}

check() {
    /usr/local/bin/SwitchAudioSource -c "$AIRPODS_NAME" | grep "$AIRPODS_NAME" &amp;&gt; /dev/null
}

disconnect() {
    /usr/local/bin/SwitchAudioSource -s "Built-in Output" | grep "$AIRPODS_NAME" &amp;&gt; /dev/null
}

if check; then
    disconnect
    /usr/bin/osascript -e 'set volume output muted true'
    echo -n "disconnect_success"
    exit
fi

connect
switch
if check; then
    echo -n "connect_success"
else
    connect
    sleep 5
    switch
    if check; then
        echo -n "connect_success"
    else
        connect
        sleep 5
        switch
        if check; then
            echo -n "connect_success"
        else
            echo -n "connect_fail"
        fi
    fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58743A62-B4E6-4BD9-8E1D-FB7507132E80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Switched to AirPods Output</string>
				<key>title</key>
				<string>AirPods activation FAILED</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B45098DE-BF87-4845-AD2A-D57DB54F6E23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A83F0F0D-74A7-4CA5-BF62-5DFD80E75F11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>147E66F6-E206-45E4-A436-37EEF0F1032B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>connect_fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C0BAC045-50DA-4AD0-903E-122268B00FFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Switched to System Output (muted)</string>
				<key>title</key>
				<string>AirPods disconnected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3EDD0B54-0971-4C5A-9BB5-70F3448FD0DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>disconnect_success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>66F1FDA3-0872-4450-B7E8-457B09CEA690</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/ptts/alfred-airpods-toggle/master/${alfred_workflow_name}/source/info.plist"

readonly workflow_url="https://raw.githubusercontent.com/ptts/alfred-airpods-toggle/master/${alfred_workflow_name}/${alfred_workflow_name}.alfredworkflow"

readonly download_type='direct'
readonly frequency_check='4'


# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B1C54FA-428F-47F4-A9DB-C7E5DDB2FE89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Alfred Smart AirPods Toggle
A smart workflow that toggles the connection to your AirPods with no setup required.

# Requirements
- Homebrew
- BluetoothConnector
- SwitchAudioSource

https://github.com/ptts/alfred-airpods







Credits:
- Icon made by freepik from www.flaticon.com</string>
	<key>uidata</key>
	<dict>
		<key>07B0E206-AC25-44BC-A433-1DEDBE30F15D</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>147E66F6-E206-45E4-A436-37EEF0F1032B</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>285EAC53-D9E5-4711-BBEF-CD8E05A5EC2F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>3EDD0B54-0971-4C5A-9BB5-70F3448FD0DA</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>56F18DA1-4EC7-4C36-B71B-DE999CFBBBE1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Success</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>58743A62-B4E6-4BD9-8E1D-FB7507132E80</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>66F1FDA3-0872-4450-B7E8-457B09CEA690</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Disconnect</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>7B1C54FA-428F-47F4-A9DB-C7E5DDB2FE89</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>9665985D-55BE-402F-AF38-9879660DDFA9</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A83F0F0D-74A7-4CA5-BF62-5DFD80E75F11</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B45098DE-BF87-4845-AD2A-D57DB54F6E23</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>C0BAC045-50DA-4AD0-903E-122268B00FFD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Fail</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/ptts</string>
</dict>
</plist>
